<%- include('./partials/head'); %>
  <div class="row">
    <div class="col">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Login
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              To get a login you need access <strong>/login</strong> to generate a valide <strong>token</strong><br>
              in your <strong>insominia</strong>/<strong>postman</strong> use this json <br>
              <b>Router</b> - <code>/login</code> <br>
              <code>
                { <br>
                "email": "email registered",<br>
                "password": "password registered"<br>
              } <br>
            </code>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>User</strong> - Address
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              To add an Address in one user, use this exemple of JSON<br>
              <b>Router</b> - <code>/users/:user_id/addresses</code> <br>
              <code>
                {<br>
                  "zipcode": "23425-444",<br>
                  "street": "Av Paulista",<br>
                  "number": 1000<br>
                }
              </code>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>User</strong> - Insurance
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              To add an Insurance in one user, use this exemple of JSON<br>
              <b>Router</b> - <code>/users/:user_id/insurance</code> <br>
              <code>
                {<br>
                  "name": "Unimed"<br>
                }
              </code>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>User</strong> - Histories
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              To add a Histories in one user, use this exemple of JSON<br>
              <b>Router</b> - <code>/users/:user_id/histories</code> <br>
              <code>
                {<br>
                  "history": "a new history here"<br>
                }
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- divisao das colunas -->

    <div class="col">

      <div class="row">
        <h1> Login </h1>

        <div class="container h-80">
          <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
              <div class="text-center">
                <img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" action="/login" method="POST">
                  <input type="text" name="email" id="inputEmail" class="form-control form-group" placeholder="Email"
                    required autofocus>
                  <input type="password" name="password" id="inputPassword" class="form-control form-group"
                    placeholder="password" required autofocus>
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Signin</button>
                </form><!-- /form -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <br><h1>Register</h1>
        <div class="col-6 mx-auto">
          <div class="text-center">
            <form class="form-signin" action="/register" method="POST">
              <input type="text" name="name" id="name" class="form-control form-group" placeholder="Name" required
                autofocus>
              <input type="text" name="email" id="email" class="form-control form-group" placeholder="Email" required
                autofocus>
              <input type="password" name="password" id="password" class="form-control form-group" placeholder="Password"
                required autofocus>
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div> -->

    </div>
  </div>
  <%- include('./partials/footer'); %>